[submodule "ecc"]
	path = ecc
	url = https://github.com/Engineering-Research-and-Development/true-connector-execution_core_container
[submodule "uc"]
	path = uc
	url = https://github.com/Engineering-Research-and-Development/true-connector-uc_data_app
[submodule "dataApp"]
	path = dataApp
	url = https://github.com/Engineering-Research-and-Development/true-connector-fiware_data_app
